.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 270px;
}

.advantages__icon-layout {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: $thirdColorGrey;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__name {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages__desc {
    color: $secondaryColorGrey;
    font-size: 14px;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}