.logo {
    text-decoration: none;
    font-family: $secondaryFont;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo-web {
    color: $primaryColorBlue;
}

.header__logo-studio {
    color: $secondaryColorBlack;
}

.footer__logo-studio {
    color: $primaryColorWhite;
}