// fonts
$primaryFont: Roboto;
$secondaryFont: Raleway;

//colors
$primaryColorBlue: #2196F3;
$primaryColorBlack: #212121;
$secondaryColorBlack: #000;
$primaryColorWhite: #FFF;
$primaryColorGrey: #AFB1B8;
$secondaryColorGrey: #757575;
$thirdColorGrey: #F5F4FA;
$fourthColorGrey: #2F303A;